.apply-button {
  margin-top: $small-space / 2;
  background-color: $navy;
  padding: 0.5vh 2vw 0.5vh 2vw;
  border-radius: 5px;
  color: $offwhite;
  &:hover {
    transform: scale(1.05);
    color: $offwhite;
  }
}

#home {
  @include flex(column nowrap, flex-start, center);
  @media screen and (min-width: 450px) {
    height: 100vh;
    width: 100vw;
    min-height: calc(500px + 45vh);
    padding-top: 20vh;
  }
  @media screen and (max-width: 450px) {
    margin: $large-space 0;
  }

  img {
    max-height: 35vh;
    max-width: 80vw;
  }
  @media screen and (max-width: 450px) {
    padding-top: 20vh;
    img {
      margin-bottom: 25px;
    }
  }

  .logo {
    min-height: 45vh;
    @media screen and (max-width: 750px) {
      min-height: 20vh;
    }
  }

  #gradient_text {
    background: linear-gradient(0deg, #083d6b 20.11%, #1f96ff 150.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    background-clip: text;
    font-family: "Poppins", sans-serif;
    text-fill-color: transparent;
  }

  #year-text {
    background: linear-gradient(
      180deg,
      #083d6b 0%,
      rgba(255, 255, 255, 0.47) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  #arm {
    height: 14vh;
    @media screen and (max-width: 450px) {
      height: 7vh;
    }
    margin-right: auto;
    margin-left: -1vw;
  }

  h1 {
    font-size: 8vh;
    font-weight: normal;
  }

  h2 {
    font-size: $base-font-size * 1.4;
    font-weight: $heavy-font-weight;
    color: $blue;
    max-width: 80vw;

    &.ended {
      font-style: italic;
    }

    @media screen and (max-width: 750px) {
      text-align: center;
    }
  }

  p {
    font-size: 25px;
  }

  #date-text {
    max-width: 90vw;
    text-align: left;
    color: $dark-navy;
    font-size: $subheading-font-size;
    font-weight: bold;
    margin-top: 100px;
    padding-bottom: 1vh;
    text-align: center;
    font-size: xx-large;
    // align at bottom
  }

  .rowC {
    @include flex(row wrap, center, flex-start);
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.scale-in-center {
  object-fit: contain;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (max-width: 1192px) {
  .codejam-text {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .buttonRow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .applyNow {
    margin-right: 0px;
  }

  .rowIntro {
    padding-left: 5% !important;
    padding-right: 5%;
  }

  h1 {
    font-size: 45px !important;
  }

  #subtext_intro {
    font-size: 20px !important;
    span {
      font-size: 20px !important;
    }
  }

  #subtext_intro_2 {
    font-size: 15px !important;
  }

  #date-text {
    font-size: 20px !important;
  }
}
