.project-card {
  margin-left: 5rem;
  margin-right: 5rem;
}

#projects {
  position: relative;
  background-color: $offwhite;
  padding-bottom: $small-space * 2;
  padding-top: $small-space * 2;

  .section-heading {
    padding-top: $small-space;
    margin-bottom: $small-space;
    color: $dark-navy;
  }

  .container {
    max-width: $max-width;
    margin: $large-space auto;
  }

  @media screen and (max-width: 750px) {
    .grid-item {
      width: 68vw;
      height: 70vh;
    }
  }
}

.slick-track {
  @include flex(row nowrap, center, center);
}

@media screen and (min-width: 1700px) {
  .slick-track {
    .grid-item p {
      font-size: 1.5rem;
    }

    .grid-item {
      height: 600px;
    }

    .slick-slide {
      margin: 0 2rem;
    }
  }

  .project-card {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

// mobile first
@media screen and (max-width: 768.68px) {
  .grid-item p {
    font-size: 1.2rem;
  }

  .slick-slide {
    margin: 0 40px;

    .grid-item {
      width: 300px;
    }
  }

  .project-card {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
}

.slick-slide {
  margin: 0 40px;
}

.grid-item {
  border-radius: 20px;
  transition-duration: $transition-speed;
  color: $offwhite;
  padding: $small-space;
  margin: 3vh auto;
  cursor: pointer;
  width: 27vw;
  height: 500px;

  @include flex(column nowrap, center, center);
  &:hover {
    transform: scale(1.05);
  }

  p {
    text-align: center;
    margin: 0 1vw;
  }

  .title {
    font-weight: bold;
    font-size: $subheading-font-size;
    text-transform: uppercase;
    opacity: 1;
    margin: $small-space 0;
  }

  .text {
    font-size: $medium-font-size;
    margin-bottom: $small-space;
  }

  .url {
    font-size: $medium-font-size;
    font-weight: bold;
    color: $offwhite !important;
    text-decoration: none;
    cursor: pointer;
    transition: $transition-speed all;
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .url:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px $black;
    transition-delay: 400ms;
  }
}
